<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Autocadastro</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
  </head>
  <body class="container" >
    
    <section>
      <form action="" method="post">
      {% csrf_token %} <!-- {{ form }} -->
      <div class="container">
        <div class="row justify-content-center border border-light rounded py-3">
          <div class="col-12 col-md-8 col-lg-8 col-xl-6">
            <div class="row">
              <div class="col text-center">
                <h2>Autocadastro</h2>
                <hr>
              </div>
            </div>
            <div class="row align-items-center ">
              
              <div class="col  ">
                <div class="input-group flex-nowrap">
                  <i class="input-group-text bi bi-person-square"></i>
                  <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="addon-wrapping" name="nome" required>
                </div>
              </div>
              <div class="col  ">
                <div class="input-group flex-nowrap">
                  <i class="input-group-text bi bi-person-square"></i>
                  <input type="text" class="form-control" placeholder="Nome Social" aria-label="Username" aria-describedby="addon-wrapping" name="nome" required>
                </div>
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                <div class="input-group flex-nowrap">
                  <i class="input-group-text bi bi-123"></i>
                  <input type="number" class="form-control" placeholder="CPF (Apenas Números)" aria-label="Username" aria-describedby="addon-wrapping" name="cpf" required>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col mt-4">
              <label>
                <div class="input-group flex-nowrap ">
                  <i class="input-group-text bi bi-calendar-date"></i>
                  <input class="form-control  " type="text" value="Data de nascimento" aria-label="readonly input example" readonly>
                </div>
                </label>
                <input type="date" class="form-control" name="nasc" >
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col mt-4">

            <div class="input-group flex-nowrap ">
                    <i class="input-group-text bi bi-pin-map"></i>
                    <input class="form-control  " type="text" value="Selecione um Estado" aria-label="readonly input example" readonly>
            </div>
            <select name="grp" required class="form-select ">
              
          
              <option   name="RN" value="RN"> Rio Grande do Norte
              <option   name="PB" value="PB"> Paraiba
              <option   name="CE" value="CE"> Ceará
              <option   name="MA" value="MA"> Maranhão
              <option   name="AL" value="AL"> Alagoas
              <option   name="SE" value="SE"> Sergipe
              <option   name="BA" value="BA"> Bahia
              <option   name="PI" value="PI"> Piauí
              <option   name="PE" value="PE"> Pernambuco
               
        
              </select>

              <div class="col py-2">
                <div class="input-group flex-nowrap">
                  <i class="input-group-text bi bi-map"></i>
                  <input type="number" class="form-control" placeholder="Digite a cidade" aria-label="Username" aria-describedby="addon-wrapping" name="cidade" >
                </div>
              </div>
              
            </div>
            
            <!-- Teve COVID ultimos 30 dias -->
            




            <div class="row align-items-center mt-4">
              <div class="col">
                <div class="input-group flex-nowrap ">
                  <i class="input-group-text bi bi-key"></i>
                  <input type="password" class="form-control" placeholder="Senha" name="senha1">
                </div>
              </div>
              <div class="col">
                <div class="input-group flex-nowrap ">
                  <input type="password" class="form-control" placeholder="Confirmar senha" name="senha2">
                </div>
              </div>
            </div>

            <div class="row align-items-center">
                <div class="col mt-4">
                <h6> Concordo com os termos de uso. <a href="#">Termos de uso</a>  </h6>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="termos_uso" value="sim" checked>
                <label class="form-check-label">
                  Sim
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="termos_uso" value="nao" >
                <label class="form-check-label">
                  Não
                </label>
              </div>
              </div>
              </div>


            <div class="row justify-content-start my-4">
              <div class="col">
            
                <!-- Sucess messages -->
                {% if messages %}
                {% for message in messages %}
                  {%if message.tags == 'success' %}
              <div class="alert alert-success alert-dismissible fade show " role="alert">
                <strong>Atenção: </strong> 
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
              
              <!-- Error Mesages -->
              
              {% if messages %}
          {% for message in messages %}
            {%if message.tags == 'error' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Atenção!</strong> {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            {% endif %}
          {% endfor %}
        {% endif %}


                <button class="btn btn-success mt-4">
                  CADASTRAR
                </button>
                <a href="{% url 'login' %}" class="btn btn-secondary mt-4" >
                  VOLTAR
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <footer class="py-2">
        <p class="h6">LAIS/HUOL - UFRN - Laboratório de Inovação Tecnológica em Saúde | Av. Nilo Peçanha, 620 - 59012-300 Petrópolis - Natal/RN - Brasil. </p>
        </footer>
        <hr>
      </div>
    </section>

    
  </body>
</html>