<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


  <!------ Include the above in your HEAD tag ---------->
  </head>
  <body>      
      <div class="text-center text-lg-start ">
      
        <form action="" method="POST">
          {%csrf_token%}
          <div class="card container ">
            <div class="card-header">
              <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand" href="#">AVASUS FORUM - LAIS/UFRN 2023 </a>
              </button>
                <form class="form-inline my-2 my-lg-0">
                  <a href="{% url 'logout' %}" class=" btn btn-warning ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                      <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                    SAIR</a>  
                </form>
              </nav>
              
            </div>  
            <div class="card-body ">

                <div class="row border border-primary rounded py-3 my-3">
                    <div class="col-sm  ">
                      
      <!-- Button trigger modal -->
      <br>

      <a href="#myModal" class="btn btn-success btn-lg"  data-toggle="modal">Criar Topico</a>
      <a href="#myModal2" class="btn btn-primary btn-lg"  data-toggle="modal">Vincular aluno</a>

      <!-- Modal -->
      <div id="myModal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Criar novo topico</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <!-- Formulario cadastrar novo subforum-->
      
  

            <form method="post">
              {%csrf_token%}
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Titulo do topico (Máx 120 caracteres)"  maxlength="120" name="titulo_topico">
              </div>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Texto do topico " name="descricao_topico"></textarea>
              </div>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success">Salvar</button>
            </form>
            </div>
          </div>
        </div>
      </div>


        <!-- Modal -->
        <div id="myModal2" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Vincular novo aluno a este subforum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <!-- Formulario cadastrar novo subforum-->
              <form method="post">
                {%csrf_token%}
                <h6> Selecione o aluno que deseja vincular a este subforum </h6>
                <div class="form-group">

                  <div class="form-group">
                    <br><br>
                    <select class="form-control" name="cpf_vinculo" id="exampleFormControlSelect1">
                      <option disabled selected> Escolha um aluno para vincular </option>
                      {% for cpf , nome_social in usuarios %}
                        <option    value="{{ cpf }}"> {{ cpf }} - {{ nome_social }}
                        </option>    
                      {% endfor %}
                    </select>
                    </div>
                    <br><br>
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Salvar</button>
              </form>
              </div>
            </div>
          </div>
        </div>
   
                      <br>
                    </p>
                    </div>
                    <div class="col-sm">
                      <p class="h5"> Informações importantes </p><br>
                      <p>- Apenas pessoas autorizadas podem criar topicos -</p>
                    </div>
                  </div>
                  </div>
                </form>

              
                <div class="card-header h5">
                    Subforum - Listagem de topicos
                  </div>

          
                  <br>
                  <div class="row">
                    <div class="col">
                        <h6>Postagens: {{total_postagens}} </h6>
                    </div>
    
                    <div class="col">
                        <h6>Categoria: {{categoria}}</h6>
                    </div>
    
                    <div class="col">
                        <h6>Usuários vinculados: {{alunos_vinc_subforum}} </h6>
                    </div>
                  </div>
                  {% for cod_topico, autor, titulo, descricao, data_criacao, estado  in topicos %}         
                  <br>
                  <h4>Topico {{cod_topico}}
                   
                  {% if estado == 'TRC'%}
                      <h4 class="text-danger">[TRANCADO]</h4>
                  {%endif%}
                  </h4>
                  <br>
                  <table class="table   table-hover">
                    
                    <thead class="table-light" >
                      <tr>
                        <td class="table-secondary" ><b>Titulo </b></td>
                        <td class="table-secondary" ><b>Autor</b></td>
                        <td class="table-secondary" ><b>Qtd. Respostas</b></td>
                        <td class="table-secondary" ><b>Criado em</b></td>
                        <td class="table-secondary" ><b>Ultima Postagem</b></td>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr>
                      <td  class="table-light" >  {{titulo}} </td>
                      <td  class="table-light" >
                          <p> {{autor}}</p> 
                      </td>

                      <td  class="table-light" >
                        
                           {% for cod_tp, qtd_respostas in qtd_respostas %}
                              {% if cod_tp == cod_topico %}
                                <p> {{qtd_respostas}} </p> 
                              {% endif %}
                           {% endfor %}
                      
                    </td>

                      <td  class="table-light">
                          <p>{{data_criacao | date:"d/m/Y - H:i" }}</p>
                      
                      </td>
                      <td  class="table-light">
                          
                        {% for a, b in ultima_postagem %}
                          {% if a ==  cod_topico %}
                              <p> {{b | date:"d/m/Y - H:i"}}</p>
                          {% endif %}  
                      {%endfor%}

                        
                      </td>
                      </tr>
                      
                   
                    </tbody>
                  </table>
                 
                  <div class="row mx-2">
                    <h6 class="mx-4"> Texto:  </h6> 
                    <p> {{descricao}}</p>
                  </div>
                  
              

              <div class="row mx-2">
                <h6>Respostas: </h6>
              </div>
              
           
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <td><b>Texto </b></td>
                    <td><b>Autor</b></td>
                    <td><b>Postado em</b></td>
                  </tr>
                </thead>  
                <tbody>
      
              {% for a, b , nome_autor_resp, texto_resp ,postado_em_resp in respostas %}
                {% if a ==  cod_topico %}
                     <tr>
                      <td >  {{texto_resp}} </td>
                      <td >
                          <p> {{nome_autor_resp}}</p> 
                      </td>
  
                      <td  >
                        <p> {{postado_em_resp | date:"d/m/Y - H:i"}}</p> 
                      </td>
                    </tr>
                      
                {% endif %}
             
              {%endfor%}
            </tbody> 
            </table>

            <div class="row mx-2">
                <div class="col-1">
                  <!-- Responder Topico-->
                  
                  {% if estado == 'Ativado'%}
                  <a href="#myModal{{cod_topico}}" class="btn btn-info"  data-toggle="modal">Responder Topico</a>
                  {%endif%}
                  
             
                  <!-- Modal -->
                
      <div id="myModal{{cod_topico}}" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Responder Topico</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <!-- Formulario cadastrar novo subforum-->
           
            <form method="post">
              {%csrf_token%}
          
              
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Texto da Resposta " name="texto_resposta"></textarea>
                <input type="hidden" name="cod_topico" value={{cod_topico}}>
              </div>

              </div>
            
                
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success">Salvar</button>
            </form>
            </div>
          </div>
        </div>
      </div> 
                </div>
                <div class="col">
                  {% if estado == 'Ativado'%}
                  {% if perfil == 'PROF'%}
                     <a href="#Trancar{{cod_topico}}" class="btn btn-danger"  data-toggle="modal">Trancar Topico</a>
                  {% endif %}
                  {% endif %}
              </div>
              
           

              <div id="Trancar{{cod_topico}}" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"> Tem certeza que quer trancar o topico {{cod_topico}} ? </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    <!-- Formulario cadastrar novo subforum-->
                   
                    <form method="post">
                      {%csrf_token%}
                  
                      <div class="input-group mb-3">
                        
                        <div class="alert alert-danger" role="alert">
                          Ao trancar ninguém poderá responder este topico!
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="hidden" name="cod_topico" value={{cod_topico}}>
                        <input type="hidden" name="trancar_topico" value='sim'>

                      </div>
        
                      </div>
                    
                        
                     
                     
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                      <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>

                 <!-- Listagem dos subforuns do professor -->

                 
            </div>
            
            
            <br>
            <br>
           
            <br>
            <br>
            {% endfor %}
            <footer>
              <br>
              <hr>
              <p class="h6">LAIS/HUOL - UFRN - Laboratório de Inovação Tecnológica em Saúde | Av. Nilo Peçanha, 620 - 59012-300 Petrópolis - Natal/RN - Brasil </p>
              </footer>
           
          </div>

          

        </div>
  </body>
</html>